<h3>You are currently logged in as <%= current_user.name %></h3>

Do you want to link your Intuit account with <a href="/intuit/sso/link" class="button">this account</a>, or <a href="/logout?return_to=/login%3Freturn_to%3D%2Fintuit%2Fsso" class="button">link to another</a>?
